<div class="layout layout--col layout--stretch">
  <div class="columns">
    {% comment %} Today's Column {% endcomment %}
    <div class="column gap--small" data-list-max-columns="1" data-list-limit="true">
      {% render "header", title: "Today" %}

      {% for event in properties.timeseries %}
      {% assign event_day = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" %}
      {% assign event_hour = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%H" %}

      {% unless event_day == today and today_hours_to_show contains event_hour %}
      {% continue %}
      {% endunless %}

      {% render "item", index: event_hour, symbol_code: event.data.next_1_hours.summary.symbol_code, air_temperature: event.data.instant.details.air_temperature, wind_speed: event.data.instant.details.wind_speed, precipitation_amount: event.data.next_1_hours.details.precipitation_amount %}

      {% endfor %}
    </div>

    {% comment %} Tomorrow's Column {% endcomment %}
    <div class="column gap--small" data-list-max-columns="1" data-list-limit="true">
      {% render "header", title: "Tomorrow" %}

      {% for event in properties.timeseries %}
      {% assign event_day = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" %}
      {% assign event_hour = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%H" %}

      {% unless event_day == tomorrow and tomorrow_hours_to_show contains event_hour %}
      {% continue %}
      {% endunless %}

      {% render "item", index: event_hour, symbol_code: event.data.next_1_hours.summary.symbol_code, air_temperature: event.data.instant.details.air_temperature, wind_speed: event.data.instant.details.wind_speed, precipitation_amount: event.data.next_1_hours.details.precipitation_amount %}

      {% endfor %}
    </div>
  </div>
</div>
