{% assign tomorrow_hours_to_show = "03,09,15,21" %}

<div class="layout layout--col layout--stretch">
  {% if trmnl.plugin_settings.custom_fields_values.layout == "hourly" %}

  <div class="columns" data-max-columns="3">
    {% for event in properties.timeseries %}
      {% assign event_day = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" %}
      {% assign event_day_name = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%A" %}
      {% assign event_hour = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%H" %}

      {% if event_day != day %}
        {% unless forloop.first %}
          </div>
        {% endunless %}

        <div class="column">
        {% if event_day == today %}
          {% render "header", title: "Today" %}
        {% elsif event_day == tomorrow %}
          {% render "header", title: "Tomorrow" %}
        {% else %}
          {% render "header", title: event_day_name %}
        {% endif %}
        {% assign day = event_day %}
      {% endif %}

      {% render "item", units: properties.meta.units, index: event_hour, symbol_code: event.data.next_1_hours.summary.symbol_code, air_temperature: event.data.instant.details.air_temperature, wind_speed: event.data.instant.details.wind_speed, precipitation_amount: event.data.next_1_hours.details.precipitation_amount %}

    {% endfor %}
    {% unless properties.timeseries == empty %}
      </div>
    {% endunless %}
  </div>

  {% else %}

  <div class="grid grid--cols-2">
    {% comment %} Today's Column {% endcomment %}
    <div class="flex flex--col">
      {% render "header", title: "Today" %}

      {% for event in properties.timeseries %}
      {% assign event_day = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" %}
      {% assign event_hour = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%H" %}

      {% unless event_day == today and today_hours_to_show contains event_hour %}
      {% continue %}
      {% endunless %}

      {% render "item", units: properties.meta.units, index: event_hour, symbol_code: event.data.next_1_hours.summary.symbol_code, air_temperature: event.data.instant.details.air_temperature, wind_speed: event.data.instant.details.wind_speed, precipitation_amount: event.data.next_1_hours.details.precipitation_amount %}

      {% endfor %}
    </div>

    {% comment %} Tomorrow's Column {% endcomment %}
    <div class="flex flex--col gap--small">
      {% render "header", title: "Tomorrow" %}

      {% for event in properties.timeseries %}
      {% assign event_day = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" %}
      {% assign event_hour = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%H" %}

      {% unless event_day == tomorrow and tomorrow_hours_to_show contains event_hour %}
      {% continue %}
      {% endunless %}

      {% render "item", units: properties.meta.units, size: "small", index: event_hour, symbol_code: event.data.next_1_hours.summary.symbol_code, air_temperature: event.data.instant.details.air_temperature, wind_speed: event.data.instant.details.wind_speed, precipitation_amount: event.data.next_1_hours.details.precipitation_amount %}

      {% endfor %}

      {% comment %} Third Day Column {% endcomment %}
      {% for event in properties.timeseries %}
      {% assign event_day = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m-%d" %}
      {% assign event_day_name = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%A" %}
      {% assign event_hour = event.time | date: "%s" | plus: trmnl.user.utc_offset | date: "%H" %}
      {% assign event_utc_hour = event.time | date: "%H" %}

      {% unless event_day == third_day and nextday_hours_to_show contains event_utc_hour %}
      {% continue %}
      {% endunless %}

      {% if event_day != day %}
      {% assign day = event_day %}
      {% render "header", title: event_day_name %}
      {% endif %}

      {% render "item", units: properties.meta.units, size: "small", index: event_hour, symbol_code: event.data.next_6_hours.summary.symbol_code, air_temperature: event.data.instant.details.air_temperature, wind_speed: event.data.instant.details.wind_speed, precipitation_amount: event.data.next_6_hours.details.precipitation_amount %}

      {% endfor %}
    </div>
  </div>

  {% endif %}
</div>
