<div class="layout layout--col layout--stretch">
  <div class="columns">
    <div class="column gap--small" data-list-max-columns="3" data-list-limit="true">
      {% for event in data %}
      {% assign current_month = event.start | date: "%s" | plus: trmnl.user.utc_offset | date: "%Y-%m" %}
      {% assign current_month_name = event.start | date: "%s" | plus: trmnl.user.utc_offset | date: "%B" %}

      {% if month != current_month %}
      {% render "header", start: current_month_name %}
      {% assign month = current_month %}
      {% endif %}

      {% render "event", start: event.start, end: event.end, title: event.title, address: event.address, description: event.description %}
      {% endfor %}
    </div>
  </div>
</div>
