<div class="layout layout--col layout--stretch">
  <div class="grid grid--cols-4">
    <div class="col--span-1 flex flex--col">
      <div class="stretch flex flex--col flex--center-x pt--2">
        <span class="value value--tnums" id="current-value"></span>
        <span class="label text--center" id="current-time"></span>

        <table class="table table--condensed">
          <tbody>
            <tr>
              <td><span class="label label--small">Elektri hind</span></td>
              <td><span class="label label--small text--right" id="current-electricity-price"></span></td>
            </tr>
            <tr>
              <td><span class="label label--small">Edastamise tasu</span></td>
              <td><span class="label label--small text--right" id="current-transmission-cost"></span></td>
            </tr>
            <tr>
              <td><span class="label label--small">Taastuvenergia tasu</span></td>
              <td><span class="label label--small text--right" id="current-renewable-fee"></span></td>
            </tr>
            <tr>
              <td><span class="label label--small">Elektriaktsiis</span></td>
              <td><span class="label label--small text--right" id="current-excise"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

      <span class="title title--small">Odavad tunnid</span>

      <div class="w--full flex flex--row flex--top pt--1 px--3" id="cheapest-1h-container">
        <div class="label label--small label--inverted px--2">1h</div>
        <div class="stretch">
          <div class="w--full flex flex--row">
            <span class="title title--small" id="cheapest-1h-start"></span>
            <span class="title title--small text--center stretch">-</span>
            <span class="title title--small" id="cheapest-1h-end"></span>
          </div>
          <div class="flex flex--row">
            <span class="label label--small stretch" id="cheapest-1h-value"></span>
            <span class="label label--small" id="cheapest-1h-diff"></span>
          </div>
        </div>
      </div>
      <div class="w--full flex flex--row flex--top pt--1 px--3" id="cheapest-2h-container">
        <div class="label label--small label--inverted px--2">2h</div>
        <div class="stretch">
          <div class="w--full flex flex--row ">
            <span class="title title--small" id="cheapest-2h-start"></span>
            <span class="title title--small text--center stretch">-</span>
            <span class="title title--small" id="cheapest-2h-end"></span>
          </div>
          <div class="flex flex--row">
            <span class="label label--small stretch" id="cheapest-2h-value"></span>
            <span class="label label--small" id="cheapest-2h-diff"></span>
          </div>
        </div>
      </div>
      <div class="w--full flex flex--row flex--top pt--1 px--3" id="cheapest-3h-container">
        <div class="label label--small label--inverted px--2">3h</div>
        <div class="stretch">
          <div class="w--full flex flex--row">
            <span class="title title--small" id="cheapest-3h-start"></span>
            <span class="title title--small text--center stretch">-</span>
            <span class="title title--small" id="cheapest-3h-end"></span>
          </div>
          <div class="flex flex--row">
            <span class="label label--small stretch" id="cheapest-3h-value"></span>
            <span class="label label--small" id="cheapest-3h-diff"></span>
          </div>
        </div>
      </div>
      <div class="w--full flex flex--row flex--top pt--1 px--3" id="cheapest-4h-container">
        <div class="label label--small label--inverted px--2">4h</div>
        <div class="stretch">
          <div class="w--full flex flex--row">
            <span class="title title--small" id="cheapest-4h-start"></span>
            <span class="title title--small text--center stretch">-</span>
            <span class="title title--small" id="cheapest-4h-end"></span>
          </div>
          <div class="flex flex--row">
            <span class="label label--small stretch" id="cheapest-4h-value"></span>
            <span class="label label--small" id="cheapest-4h-diff"></span>
          </div>
        </div>
      </div>
    </div>

    <div class="col--span-3">
      <div id="example-bar-chart" class="w--full h--full"></div>
    </div>
  </div>
</div>
